[user]
	name = Weihan Li
	email = weihanli@outlook.com
# [http "https://github.com"]
# 	proxy = http://127.0.0.1:10809

[core]
        editor = true
        ignorecase = false

[push]
        autoSetupRemote = true

[alias]
	a = add
	aa = add -A .
	amend = commit --amend -m
	co = checkout
	cob = checkout -b
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	cm = commit -m
	cam = commit -am
	cp = cherry-pick
	f = fetch
	pnv = push --no-verify
	m = merge
	main = !git checkout main && git pull origin
	master = !git checkout master && git pull origin
	dev = !git checkout dev && git pull origin
	st = status
	la = !git config -l | grep alias | cut -c 7-
	last = log -1 HEAD
	pullr = pull --rebase
	sync = !git pull --rebase && git push
        cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 -r git branch -d"

# https://dev.to/equiman/how-to-use-multiple-users-with-git-2e9l
[includeIf "gitdir/i:C:/projects/work/"]
    path = ~/work.gitconfig

[includeIf "gitdir/i:~/sources/"]
    path = ~/personal.gitconfig

[includeIf "gitdir/i:~/company/"]
    path = ~/company.gitconfig
